/* BODY STYLE */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f7fa;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e90ff; /* KO‘K */
  padding: 15px 40px;
}

.navbar .brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e90ff; /* KO‘K */
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a.active {
  text-decoration: underline;
}

/* MAIN CONTENT */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #1e90ff; /* KO‘K */
  margin-bottom: 10px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.payment-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.payment-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 18px rgba(246, 248, 249, 0.15);
}

.payment-card img {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1e90ff; /* KO‘K */
  color: white;
  margin-top: 40px;
}
